section{
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
}
ul{
    display: flex;
    width: auto;
    height: auto;
    list-style: none;
}
li{
    border: 5px solid turquoise;
    margin: 30px;
    border-spacing: 5px;
}
.card{
    width: 100px;
    border: 8px solid #c1d0d8;
    outline-style: double;
    padding: 10px;
    margin: 40px;
}
.card__main{
    position: relative;
    content: unset;
    background-position: center;
}
.card__name{
    font-weight: 800;
    font-style:inherit;
    word-spacing: .5px;
}
.card__total__card__small{
    font-weight: 500;
    color: #f4f5f2;
}